/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import 'bootstrap';

 body {
 	position: relative;
 	background-color: #fafaf5;
 	font-size: 16px;
 }
 
 .navbar-default {
 	background-color: #FFF;
 	border-bottom: 0px;
 	border-bottom: 1px solid #EEE;
	
	a {
	 position: relative;
	 color: #a3a090 !important;
	}

 	.navbar-brand {
 	 position: relative;
 	 margin-left: 0px !important;
 	 font-size: 25px;;
 	 font-weight: bold;
 	}

 	.input-group-addon {
 	 position: relative;
 	 background-color: #FFF;
 	 border-right: 0px;
 	}

 	form {
 		input[type=text]{
 		 position: relative;
 		 border-left: 0px;
 		}
 	}
 }

 .bold {
 	position: relative;
 	font-weight: bold;
 }